.user__list {
    width: 40rem;
    max-width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    list-style: none;
    padding: 0;
  }

.appointmentTodayList {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
.appointmentInProgressList {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
