.user__list1 {
    width: 95%;
    max-height: 90%;
    margin: 2rem auto;
    /* margin-left: 5rem; */
    list-style: none;
    padding: 0;
    overflow: scroll;
  }

.appointmentTodayList {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
.appointmentInProgressList {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
