
.user__list1_detail {
    width: 95%;
    max-height: 90%;
    margin: 2rem auto;
    /* margin-left: 5rem; */
    list-style: none;
    padding: 0;
    overflow: scroll;
    /* columns: 2; */
    /* break-inside: avoid; */
  }

.user__list1_master {
    width: 95%;
    max-height: 90%;
    margin: 2rem auto;
    /* margin-left: 5rem; */
    list-style: none;
    padding: 0;
    overflow: scroll;
    /* columns: 2; */
    /* break-inside: avoid; */
  }

.user__list1:first-child {
    margin-top: 0;
}

.appointmentDetailList {
  width: 10%;
  list-style: none;
  overflow: scroll;
}


.appointmentTodayList {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
.appointmentInProgressList {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
