.users__list-item {
  margin: 1rem 0;
  padding: .5rem;
  /* border: 1px solid #5101d1; */
  box-shadow: 5px 5px 3px 2px #888888;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30vw; */
}

.listButton {
  float: right;
  margin: .5rem 1rem
}

.users__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #5101d1;
}

.users__list-item h2 {
    margin: 0;
    font-size: 1rem;
    color: #7c7c7c;
}

.users__list-item p {
    margin: 0;
}

.userItemHeading, .itemHeading {
  display: inline-block;
  margin: 0 1rem;
}
.userItemText, .itemText{
  display: inline-block;
  margin: 0 1rem;
}

.card {
  /* width: 20rem; */
}

.cardUl {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}
.cardLi {
  padding: 0;
}
