.UserDetailBox1 {
  max-width: 100%;
  max-height: 90%;
  margin: 2rem auto;
  /* position: fixed;
  z-index: 2;
  bottom: 15rem;
  right: 12.5rem; */
}

.UserDetailCard {
  width: 100%;

}

.tab {
  width: 100%;
}

.bold {
  font-weight: bold;
}
.ul {
  text-decoration: underline;
}

.detailCardRow {
  margin: 1.5rem auto;
}

.detailCardCol {
  margin: .5rem auto;
}
