
.user__list1 {
    width: 95%;
    max-height: 90%;
    margin: 2rem auto;
    /* margin-left: 5rem; */
    list-style: none;
    padding: 0;
    overflow: scroll;
  }

.userAttendanceList {
  width: 10%;
  list-style: none;
  overflow: scroll;
}
.userAttachmentList {
  width: 90%;
  list-style: none;
  overflow: scroll;
}
.userLeaveList {
  width: 90%;
  list-style: none;
  overflow: scroll;
}
