.CreateFormContainer, .UpdateFormContainer, .SearchFormContainer {
  height: 100%;
  width: 100%;
  background-color: grey;
  /* position: fixed; */
  top: 2rem;
  left: 5rem;
  z-index: 15;
}

.UpdateArrayFormContainer {
  height: 60vh;
  width: 90vw;
  background-color: grey;
  position: fixed;
  top: 20rem;
  left: 5rem;
  z-index: 15;
}
