/* css */
.sidebarContainer {
    width: 25rem;
    height: 30rem;
    margin-left: 1rem;
    position: fixed;
    left: 0;
    top: 10.5rem;
    border: 1px solid black;
    overflow: scroll;
    background-color: white;
}
