.users-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 5rem auto;
  width: 30rem;
  max-width: 80%;
}

.signupToLoginButton {
  height: 2rem;
  width: 4rem;
  position: fixed;
  bottom: 10rem;
  left: 5rem;
}


.containerCreateUpdate {
  margin-top: 5rem;
  width: 95%;
}
.containerSearchuser {
  margin-top: 5rem;
  width: 25vw;
  padding: 2rem;
}
.containerUserMasterList {
  margin-top: 5rem;
  width: 95%;
  padding: 2rem;
}
.containerUserDetail {
  margin-top: 5rem;
  width: 50vw;
}
.createUserRowAdd, .updateUserRowAdd, .searchUserRowAdd {
  border: 1.5px solid black;
  height: 5rem;
  padding: 1rem 0;
}
.createUserRowForm, .updateUserRowForm, .searchUserRowForm {
  border: 1.5px solid black;
  height: 35rem;
  text-align: center;
  overflow: scroll;
}

.searchListRow {
  height: 40rem;
  border: 1px solid green;
  overflow: scroll;
}

.createUserColAdd {
  height: 100%;
  text-align: center;
}
.createUserColForm {
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
