.users-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 5rem auto;
  width: 30rem;
  max-width: 80%;
}

.signupToLoginButton {
  height: 2rem;
  width: 4rem;
  position: fixed;
  bottom: 10rem;
  left: 5rem;
}
